#institutionSelectHeader {
    position: relative;
    color: #841AA9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin: 0 auto;
    padding-bottom: 20px;
    width: 220px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.searchBarContainer {
    margin: 0 auto;
    width: 400px;
    margin-bottom: 10px;
  }
  
  .searchBar {
    width: 400px;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    margin: 0 auto;
  }
  
  .searchBar:focus {
    border-color: #007bff;
  }
  

.bankItemContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    width: 400px;
    height: 110px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 2px solid rgb(201, 200, 200);
    border-radius: 10px;

    &:hover {
        background-color: rgb(211, 210, 211);
    }

    .bankLogo {
        position: relative;
        margin: 0px 15px;
        width: 100px;
    }

    .institutionLabel {
        width: 300px;
        margin: 0px 60px 0px 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
    }
}