.bankContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin: 30px;
  width: 350px;
  height: 500px;
}
.bankContainer #connectParagraph {
  position: relative;
  text-align: center;
  height: 300px;
}
.bankContainer #connectToBankHeader {
  color: rgb(88, 88, 88);
  position: relative;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px;
}
.bankContainer #connectBtn {
  color: white;
  font-size: 25px;
  width: 300px;
  height: 70px;
  border-radius: 20px;
  border: none;
  background-color: rgb(95, 26, 114);
}
.bankContainer #connectBtn:hover {
  background-color: rgb(132, 57, 172);
}

#institutionSelectHeader {
  position: relative;
  color: rgb(71, 17, 91);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  margin: 20px 0px 10px 10px;
  padding-bottom: 20px;
  width: 220px;
}

.bankItemContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  width: 400px;
  height: 100px;
  margin: 10px 0px 0px 10px;
  border: 2px solid rgb(201, 200, 200);
  border-radius: 10px;
}
.bankItemContainer:hover {
  background-color: rgb(211, 210, 211);
}
.bankItemContainer .bankLogo {
  position: relative;
  margin: 0px 15px;
  width: 100px;
}
.bankItemContainer .institutionLabel {
  width: 300px;
  margin: 0px 60px 0px 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-spinner {
  border: 4px solid #cdcbcb;
  border-top: 4px solid #753dca;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
