* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}


.App {
  text-align: center;
  justify-content: center;
}


header {
  background-color: #841AA9;
}

.app-name {
  color: white;
  font-size: 50px;
  font-weight: bold;
  padding: 20px;
}

.navbar {
  margin: 10px auto 10px auto;
}


